<header class="site-header">
  <div class="container row">
    <a href="/" class="brand">{{ site.name }}</a>
    <nav>
      <a href="/services/">Services</a>
      <a href="/industries/">Industries</a>
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
    </nav>
  </div>
</header>
